
.cardIcon {
    position: absolute;
    top: 16px;
    right: 16px;    
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardIcon img {
    height: 46px;
    width: 46px;
}

