/* LOCAL */

.cardContent {
    width: 100%;
    padding: 8px 16px 16px 16px;
    box-sizing: border-box;
}

.cardContent h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 14px;
}
.cardHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardUser {
    width: calc(100% - 128px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.cardUser img {
    margin-right: 8px;
}

.cardImage {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 16px 16px 0 0;
}

.cardAvatar {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
} 

.cardActions {
    width: 120px;
    display: flex;
    justify-content: space-between;

} 

.cardActions img {
    width: 32px;
    height: 32px;
    display: block;
    box-sizing: border-box;
    padding: 6px
}



.cardText {
    width: 100%;
    margin-top: 8px;
}

.cardText p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* GLOBAL */
/* COMPOSE */